.btn-container {
  display: flex;
  justify-content: flex-end; /* 버튼들을 오른쪽 정렬 */
  width: 100%;
  margin-top: 1.5%;
}

.button {
  width: 150px;
  height: 55px;
  border-radius: 15px;
  background-color: #f7f7f7;
  border: 3px solid #E10CA1;
  outline: none;
  color: #E10CA1;
  font-size: 25px;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}